*{
    margin: 0;
    padding: 0;
}

:root{
    --bg: #FFF4E0;
    --brown: #382005;
    --yellow: #FFC71E;
    --lilita: "Lilita One", sans-serif;
    --poppins: "Poppins", sans-serif;
}

body{
    padding: 40px 100px;
    background-color: var(--bg);
    font-family: var(--poppins);
    color: var(--brown);
}

.topbar {
  display: none; 
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: var(--brown);
  border-radius: 50px;
  margin-bottom: 20px;
}

.topbar .logo-mobile img {
  width: 40px;
}

.menu-btn {
  font-size: 20px;
  color: var(--yellow);
  cursor: pointer;
  z-index: 1001;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    background-color: var(--brown);
    width: fit-content;
    padding: 10px 25px;
    border-radius: 50px;
}

nav ul li{
    list-style: none;
}

nav ul li img{
    width: 30px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: var(--yellow);
  font-weight: 400;
  display: inline-block;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
  border-radius: 2px;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: white;
}

.hero-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.sub-head{
  font-family: 'Butterscotch', sans-serif;
  color: var(--brown);
  font-size: 30px;
}

.main-head{
  font-family: var(--lilita);
  color: var(--yellow);
  font-size: 8rem;
  line-height: 4.5rem;
}

.tagline{
  color: var(--brown);
  font-size: 20px;
}

.paragraph{
  font-size: 14px;
  margin-top: 30px;
  width: 30rem;
}

.content-section button{
  background-color: var(--brown);
  color: var(--yellow);
  border: none;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 10px;
  border-radius: 10px 0px 10px 10px;
  margin-top: 12px;
}

.burger-img{
  position: relative;
  z-index: 1;
}

.badge1{
  background-color: var(--yellow);
  color: var(--brown);
  height: fit-content;
  width: fit-content;
  padding: 25px;
  text-align: center;
  border-radius: 15px 0px 15px 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.151);
  font-weight: 600;
  text-transform: capitalize;
  position: absolute;
  top: 18%;
  right: 9%;
  z-index: -1;
}

.badge2{
  background-color: white;
  color: var(--brown);
  height: fit-content;
  width: fit-content;
  padding: 25px;
  text-align: center;
  border-radius: 15px 0px 15px 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.151);
  font-weight: 600;
  text-transform: capitalize;
  position: absolute;
  top: 80%;
  right: 37%;
  z-index: 2;
}

